:root {
  --primary-color: #3f5a99;
  --secondary-color: #2c3f6b;
  --background-color: #eceff5;
  --background-secondary: #d9deeb;
  --footer-background: #3f5a99;
  --accent: #c5cee0;
  --primary-text: #555;
  --paragraph-text: #666;
}
.home {
  position: relative;
  background-color: #eceff57a;
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.4rem;
  padding: 1.2rem 0;
  z-index: 1;
}
.logo {
  height: 7.4rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--primary-text);
  font-size: 1.8rem;
  font-weight: 600;
}
.nav-link:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:after {
  width: 100%;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: var(--secondary-color);
}
.hamburger {
  display: none;
  cursor: pointer;
}
/* Hero section */
.hero-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3.6rem;
  padding: 6.4rem 0 12.8rem 0;
}
.hero-image {
  width: 100%;
}
.hero-text-box h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-text);
  margin-bottom: 2.4rem;
}
.hero-text-box span {
  color: #369641;
}
.hero-text-box p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--paragraph-text);
  margin-bottom: 3.6rem;
}
.hero-image-box {
  position: relative;
}

/* hero animation */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #5195cd60;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  background-color: #3696414d;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  background-color: #36964152;
  border-radius: 50%;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: #3696415b;
  border-radius: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
